html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: #333333;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    background: #E5E5E5;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

/* header style start */
.nav__list {
    display: flex;
    justify-content: center;
}
.nav__item {
    margin: 17px 30px 16px 0;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
    transition: .2s linear;
}
.nav__link:hover {
    color: #000;
    text-decoration: underline;
}
.bg__white {
    background-color: #fff;
    padding: 20px 0 30px 0;
}
.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__right {
    color: #000;
}
.logo__text {
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
    margin-left: 20px;
}
.tel {
    font-size: 16px;
    line-height: 19px;
}
.header__right-btn {
    padding: 12px 27px;
    border: 2px solid #66C05D;
    border-radius: 40px;
    margin-left: 40px;
}
.header__right-btn:hover {
    background-color: #66C05D;
    color: #fff;
}
.header__bottom-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__bottom-item {
    margin-right: 40px;
}
.header__bottom-item:last-child {
    margin-right: 0;
}
.header__bottom-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header__bottom-item:hover {
    text-decoration: underline;
}

/* header style end */


/* intro style start */

.intro {
    background: url("../img/bg.png") center center no-repeat;
    background-size: cover;
    padding: 192px 0;
    color: #FFFFFF
}
.intro__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
}
.intro__subtitle {
    line-height: 20px;
    margin-bottom: 50px;
}
.intro__btn {
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 27px;
}
.intro__btn:hover {
    background: #fff;
    color: #66C05D;
}

/* intro style end */


/* special style start */


.special {
    padding: 80px 0 133px 0;
}
.special__top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}
.special__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.special__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.special__card {
    background-color: #fff;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    margin-right: 30px;
}
.special__card:last-child {
    margin-right: 0;
}
.special__card-pic {
    max-width: 125px;
    max-height: 166px;
    margin-bottom: 20px;
}
.special__card-info {
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
}
.special__card-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
}
.special__card-btn {
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 9px 40px;
    background: #66C05D;
    border-radius: 30px;
    transition: .2s linear;
}
.special__card-btn:hover {
    background-color: #297822;
}
.special__letters {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    color: #FFFFFF;
}
.special__item-mainleft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #66C05D;
    padding: 35px 40px;
}
.special__item-left {
    margin-right: 65px;
}
.special__item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}
.special__item-subtitle {
    line-height: 20px;
    max-width: 220px;
    margin-bottom: 25px;
}
.special__item-input {
    background: #FFFFFF;
    border-radius: 30px;
    width: 225px;
    height: 35px;
}
.special__item-mainright {
    background: #66C05D;
    padding: 35px 40px;
}
.special__item-link {
    padding: 9px 28px;
    color: #fff;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

/* special style end */

/* footer style start */

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 37px 0;
}
.footer__top-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer__list-item {
    margin-right: 20px;
}
.footer__list-item:last-child {
    margin-right: 0;
}
.footer__top-link {
    display: block;
    border: 2px solid #66C05D;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
}
.link__youtube {
    background-image: url('../img/svg/you-tube.svg');
    background-position: center center;
}
.link__vk {
    background-image: url('../img/svg/vk.svg');
    background-position: center center;
}
.link__facebook {
    background-image: url('../img/svg/facebook-logo.svg');
    background-position: center center;
}
.link__instagram {
    background-image: url('../img/svg/instagram.svg');
    background-position: center center;
}
.footer__top-info {
    color: #000;
}
.span__tel {
    margin: 0 40px 0 105px;
}
.footer__top-btn {
    padding: 12px 26px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    border-radius: 40px;
    transition: all .4s ease;
}
.footer__top-btn:hover {
    background: #66C05D;
    color: #fff;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.footer__bottom-text {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}


/* footer style end */